/* Body - Page entière */
/* body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} */

/* Formulaire de connexion */
form {
    background-color: #363636;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(140, 135, 135, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 400px;
    width: 90%;
}

h2 {
    color: #403f3f;
    border-bottom: 2px solid #a2a0a0;
    padding-bottom: 10px;
}

label {
    color: #d4d4d4;
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Bouton pour rediriger vers la page d'inscription */
button:last-child {
    margin-top: 20px; /* Ajustez la marge pour changer la position verticale */
    background-color: #2196F3;
}

button:last-child:hover {
    background-color: #0b7dda;
}
