/* Body - Page entière */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #b4e4ff, #fff);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f4f4f4 25%, transparent 25%, transparent 75%, #f4f4f4 75%, #f4f4f4), linear-gradient(45deg, #f4f4f4 25%, transparent 25%, transparent 75%, #f4f4f4 75%, #f4f4f4);
    background-size: 20px 20px;
}

/* Thème A - Professionnel */
#themeProfessionnel,
#themeSanté,
#themeFinancier,
#themeSocial {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(140, 135, 135, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    background-color: #363636;
}

#themeProfessionnel h2,
#themeSanté h2,
#themeFinancier h2,
#themeSocial h2 {
    color: #f5f3f3;
    border-bottom: 2px solid #a2a0a0;
    padding-bottom: 10px;
}

#ProfessionnelForm,
#SantéForm,
#FinancierForm,
#SocialForm fieldset {
    border: 2px solid #555;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
}

#ProfessionnelForm legend,
#SantéForm legend,
#FinancierForm legend,
#SocialForm legend {
    color: #d4d4d4;
    font-weight: bold;
    margin-bottom: 10px;
}

#ProfessionnelForm label,
#SantéForm label,
#FinancierForm label,
#SocialForm label {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    color: #d4d4d4;
}

#ProfessionnelForm input[type="radio"],
#SantéForm input[type="radio"],
#FinancierForm input[type="radio"],
#SocialForm input[type="radio"] {
    margin-right: 5px;
}

#ProfessionnelForm input[type="radio"]:checked + label,
#SantéForm input[type="radio"]:checked + label,
#FinancierForm input[type="radio"]:checked + label,
#SocialForm input[type="radio"]:checked + label {
    color: #fff;
    background-color: #4caf50;
    border-radius: 5px;
    padding: 5px 10px;
}

#ProfessionnelForm button,
#SantéForm button,
#FinancierForm button,
#SocialForm button,
#calculateAndSaveBtn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#ProfessionnelForm button:hover,
#SantéForm button:hover,
#FinancierForm button:hover,
#SocialForm button:hover,
#calculateAndSaveBtn:hover {
    background-color: #45a049;
}

#ProfessionnelForm label::before,
#SantéForm label::before,
#FinancierForm label::before,
#SocialForm label::before {
    content: attr(data-number);
    margin-bottom: 5px;
    font-weight: bold;
}
